<h2>Добро пожаловать{{ twig }}!</h2>
<h3>Что нового сделано по итогам урока №5:</h3>
<ul>
    <li>Разделил большой класс DBModel на 2 (появился QueryBuilder).</li>
    <li>Переписал динамическую загрузку товаров на фронте с JQuery на чистый JS (перешел с функций на объекты, реализовал универсиальный класс DynamicList, 
        который можно будет использовать в дальшейнем для отзывов, корзины, списка заказов и т.п.). Убил очень много времени.
    </li>
    <li>Написал свой роутер, конфиг которого хранится в route/map.php. Теперь работает ЧПУ (Сделал класс Route). 
        Могу оставить или будем писать другой? Протестировать его можно в каталоге</li>
    <li>Подключил Twig - эта страница на нем) Остальные на старых шаблонах. К следующему занятию перейду. Это не долго</li>
    <li>Работает только главная страница и каталог. Остальное прикручу к следующему занятию. Убил много времени на фронт(((</li>
 </ul>
 <b>Принципы SOLID понял и даже заучил) Но вот именно как научиться их применять эффективно - пока не понял. 
     Если будет возможность посмотрите мои классы и интерфейсы. Спасибо)</b>