{% if isAuth %}
  <p>Добро пожаловать <a href="/profile">{{ userName }}</a>!</p>
    <br>
    <a href="?logout" class="black-button">Выйти</a>
{% else %}
    {{ authForm|raw }}
{% endif %} 

<h2>Что нового сделано</h2>
<p>Стал читать про фасады в Laravel и плавно перешел к контейнеру IoC. Прочел, вроде основные моменты понял. Попытался сам реализовать примитивный DI-контейнер, который 
        позволяет делать привязки интерфейсов к их реализации через bind. Также если класс связан с другими классами, то при обращении к нему создаются зависимые классы. Если указать параметр singleton
        то класс создаться один раз. Возник вопрос куда лучше их вписать. Сейчас в индексе вызываю:</p>
<ul>
    <li>App::bind('auth', '\\app\\engine\\Auth', true);</li>
    <li>App::bind('render', '\\app\\engine\\Render', true);</li>
    <li>App::bind('router', '\\app\\engine\\Router', true);</li>
    <li>App::bind('request', '\\app\\engine\\Request', true);</li>
    <li>App::bind('session', '\\app\\engine\\Session', true);</li>
    <li>App::bind(\app\interfaces\IRenderer::class, '\\app\\engine\\TwigRender');  //Тут теперь легко поменять рендер на Twig</li>
</ul>

<h3>А вот что нового в проекте:</h3>
<ul>
    <li>Полностью перешел на Twig</li>
    <li>Подключил свою авторизацию, которую делал на первом уроке. Логин: admin, пароль: 123</li>
    <li>Сделал фасады, контейнер и его дочерний класс Application</li>
    <li>Подключил новости</li>
</ul>

<h3>Вопросы, которые возникли</h3>
<ul>
    <li>Фасады в каком пространстве имен лучше делать? Я читал, что их обычно в корне. Или лучше в namespace 'app'?</li>
    <li>Как лучше подключать файл с маршрутами map.php?</li>
    <li>Понимаю, что кода много и проверить все тяжело, но очень интересует Ваше мнение в целом на мой проект. 
        Последние 10 лет программировал немного (только на 1С). Сейчас пытаюсь наверстать и стать хорошим разработчиком. 
        Поэтому очень интересует Ваше мнение.</li>
</ul>

<p>К следующему уроку подключу остальные страницы и устраню Ваши замечания (надеюсь их будет не очень много). А к 8му уроку попробую подключить</p>